.selector-for-some-widget {
  box-sizing: content-box;
}
.nav-background {
    background-color: #083667; 
    -webkit-box-shadow: -5px 10px 89px 2px rgba(8,32,102,1);
    -moz-box-shadow: -5px 10px 89px 2px rgba(8,32,102,1);
    box-shadow: -5px 10px 89px 2px rgba(8,32,102,1);
    padding-top: 0px;
}
.navbar-dark .navbar-toggler .nav-hamburger {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.search-btn.btn.btn-outline-success {
    color: white;
    border-color: white;
}
.search-btn.btn:hover.btn-outline-success:hover {
    color: white;
    border-color: white;
    background-color: #083689;
}
.navbar-dark .nav-item.nav-color a {
    color: white;
    opacity: 1;
}
.dropdown .dropdown-menu {
    background-color: #083667;
}
.dropdown .dropdown-menu .dropdown-item, #navbarDropdown {
    color:white;
}
.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #083667; 
    color: rgba(255,255,255,.75);
}
.navbar {
    padding: 0 1.1rem;
}
.navbar-brand:hover {
    border-bottom: .5rem solid transparent;
}
.cards .row .col-md-6 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cards .row .col-md-6 .card {
    display: inline-flex;
    cursor: pointer;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #d6d6d6;
    border-radius: 15px;
    padding:50px;
    width: 100%;
}
.cards .row .col-md-6 .card:hover {
    -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.25);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.25);
}
.card-img-top {
    height: 260px;
    width: 50%;
}
#carouselExampleIndicators img {
    background-attachment: fixed;
}
@media (max-width: 769px) {
    .card-img-top {
        height: auto;
        width: 65%;
    }
    .carousel-pc {
        width: 100%;
    }
    .navbar {
    padding: 0 1.1rem;
}
}
.pictures {

}