.selector-for-some-widget {
  box-sizing: content-box;
}
.nav-background {
    background-color: #083667; 
}
.navbar-dark .navbar-toggler .nav-hamburger {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.search-btn.btn.btn-outline-success {
    color: white;
    border-color: white;
}
.search-btn.btn:hover.btn-outline-success:hover {
    color: white;
    border-color: white;
    background-color: #083689;
}
.navbar-dark .nav-item.nav-color a {
    color: white;
    opacity: 1;
}
.dropdown .dropdown-menu {
    background-color: #083667;
}
.dropdown .dropdown-menu .dropdown-item {
    color:white;
}
#navbarDropdown {
    color: white;
}